<div class="jumbotron">
  <h1>Welcome to Mario's Specialty Food Products!</h1>
</div>
<div class="content">
  <div class="top-dog">
  <% if @most  %>
    <h3>Our most reviewed product:</h3>
    <h2><%= link_to @most.name, product_path(@most)%></h2>
  <% end %>
  </div>
  <%if @products.any?%>
  <br>
  <h3>Our newest products:</h3>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Origin</th>
      <th>Rating</th>
    </tr>
    <%@products.each do |product|%>
    <tr>
      <td><%= link_to product.name, product_path(product)%></td>
      <td><%= number_to_currency(product.cost) %></td>
      <td><%= product.country_of_origin %></td>
      <td><%= "★" * product.average_rating %></td>
    </tr>
    <%end%>
  </table>
  <%else%>
  <p>No products to display.</p>
  <%end%>
  <p><%= link_to 'All USA made products', products_path(:origin => 'USA')%></p>
</div>