<div class="jumbotron">
  <h1><%= ((@origin) ? "#{@origin} Made" : "All") %> Products</h1>
</div>
<div class="content">
  <%if @products.any?%>
  <table class="table">
    <tr>
      <th>Name <%= link_to "↑", products_path(:sort => 'name_a')%> <%= link_to "↓", products_path(:sort => 'name_z')%></th>
      <th>Price <%= link_to "↑", products_path(:sort => 'low')%> <%= link_to "↓", products_path(:sort => 'high')%></th>
      <th>Origin</th>
      <th><%= link_to "Rating", products_path(:sort => 'rating')%></th>
    </tr>
    <%@products.each do |product|%>
    <tr>
      <td><%= link_to product.name, product_path(product)%></td>
      <td><%= number_to_currency(product.cost) %></td>
      <td><%= link_to product.country_of_origin, products_path(:origin => product.country_of_origin)%></td>
      <td><%= "★" * product.average_rating %></td>
    </tr>
    <%end%>
  </table>
  <%else%>
  <p>No products to display.</p>
  <%end%>
  <% if current_user %>
    <% if current_user.admin %>
      <%= button_to "Create a New Product", new_product_path %>
    <% end %>
  <% end %>
  <% if @origin %>
    <%= button_to "Back To All Products", products_path %>
  <% end %>
</div>
