<div class="jumbotron">
  <h1><%= @product.name %></h1>
  <h3><strong><%= number_to_currency(@product.cost) %></strong> from <%= @product.country_of_origin %><h3>
  <h4><%= "★" * @product.average_rating %></h4>
</div>
<div class="content">
  <div class="pic">
  <% if @product.product_photo.attached? %>
    <%= image_tag @product.product_photo %>
  <% end %>
  </div>
  <%if @reviews.any?%>
  <h4>Reviews</h4>
  <br><br>
  <table class="table">
    <tr>
      <th>Author</th>
      <th>Review</th>
      <th>Rating</th>
    </tr>
    <%@reviews.each do |review|%>
    <tr>
      <td><%= link_to review.author, product_review_path(@product, review)%></td>
      <td><%= review.content_body.slice(0..45)... %></td>
      <td><%= link_to "#{'★' * review.rating}", product_review_path(@product, review)%></td>
    </tr>
    <%end%>
  </table>
  <%else%>
  <p>No reviews to display.</p>
  <%end%>
  <br>
  <div class="links">
  <% if current_user %>
    <% if current_user.admin %>
      <p><%= link_to "Edit product", edit_product_path(@product)%></p>
      <p><%= link_to "Delete product", product_path(@product),
        :data => {:confirm => "Are you sure?",
        :method => "delete"} %></p>
    <% end %>
  <p><%= link_to "Create new review", new_product_review_path(@product) %></p>
  <% end %>
  <p><%= link_to "Back to all products", products_path %></p>
  <br>
  </div>
</div>