<div class="jumbotron">
  <h1><%= @product.name %></h1>
  <h3><strong><%= number_to_currency(@product.cost) %></strong> from <%= @product.country_of_origin %><h3>
  <h4><%= "★" * @product.average_rating %></h4>
</div>
<div class="content">
  <%if @reviews.any?%>
  <h4>Reviews</h4>
  <table class="table">
    <tr><th>Author</th><th>Rating</th></tr>
    <%@reviews.each do |review|%>
    <tr>
      <td><%= link_to review.author, product_review_path(@product, review)%></td>
      <td><%= link_to "#{'★' * review.rating}", product_review_path(@product, review)%></td>
    </tr>
    <%end%>
  </table>
  <%else%>
  <p>No reviews to display.</p>
  <%end%>
  <p><%= link_to "Edit product", edit_product_path(@product)%></p>
  <p><%= link_to "Delete product", product_path(@product),
    :data => {:confirm => "Are you sure?",
    :method => "delete"} %></p>
  <p><%= link_to "Create new review", new_product_review_path(@product) %></p>
  <p><%= link_to "Back to all products", products_path %></p>
  </div>