<%= render "layouts/errors", :object => @review %>
<div class="jumbotron">
  <h2>New Review</h2>
</div>
<div class="content">
  <div class="form-group">
    <%=form_for [@product, @review] do |f|%>
    <%=f.label :Review_Author%>
    <%=f.text_field :author%>
    <br>
    <%=f.label :Rating%>
    <%= f.number_field :rating, min: 1, max: 5, step: 1 %>
    <br>
    <%=f.label :Review_Body%>
    <%=f.text_area :content_body%>
    <br>
    <%=f.submit%>
    <%end%>
  </div>
</div>