<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Speciality Food Products</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar table-responsive">
      <table class="table">
        <tr>
          <th><%= link_to "HOME", '/'%></th>
          <th><%= link_to "PRODUCTS", products_path%></th>
          <th>
            <% if current_user %>
              <%= link_to "sign-out", '/signout' %>
            <% else %>
              <%= link_to "sign-in", '/signin' %> | <%= link_to "sign-up", '/signup' %>
            <% end %>
          </th>
        </tr>
      </table>
    </div>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
