<!DOCTYPE html>
<html>
  <head>
    <title>ActiveRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar table-responsive">
      <table class="table">
        <th><%= link_to "HOME", '/'%></th>
        <th><%= link_to "PRODUCTS", products_path%></th>
      </table>
    </div>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
